@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: rgb(80, 78, 78);
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  margin-right: 20px !important;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(82, 111, 189, 0);
  background-color: rgba(255, 255, 255, 0.468);
}

*::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid rgba(204, 202, 202, 0.69);
  border-radius: 50px !important;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  position: relative;
  background-color: whitesmoke;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

header {
  width: 100%;
  background-color: white;
  position: sticky;
  box-shadow: 0px 1px 2px rgba(73, 73, 73, 0.633);
  padding: 0 5vw;
}
header .header__left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2vw;
  justify-content: flex-start;
  width: 40%;
}
header .header__right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-flow: column;
  position: relative;
}
header .header__right:hover {
  cursor: pointer;
}

.header__right .greeting {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  font-size: 1rem;
}
.header__right .greeting .account-name {
  font-weight: 700;
}
.header__right .role {
  width: 100%;
  color: rgb(88, 86, 86);
  font-size: 0.8rem;
  text-align: right;
}
.header__right .account-setting {
  display: none;
  width: 50vw;
  height: 30vw;
  background-color: white;
  position: absolute;
  top: 40px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 2px rgba(20, 20, 20, 0.589);
  max-width: 150px;
  max-height: 100px;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 60px;
  min-width: 40px;
  width: 5vw;
  height: 40px;
  border: unset;
  z-index: 1;
  background-color: transparent;
}
.header-btn .burger-ico {
  background-color: transparent;
  border: 2px solid rgb(80, 78, 78);
  max-width: 40px;
  min-width: 30px;
  width: 5vw;
  position: relative;
  height: 3px;
  border-radius: 5px;
}
.header-btn .burger-ico::before, .header-btn .burger-ico::after {
  content: "";
  border: 2px solid rgb(80, 78, 78);
  max-width: 40px;
  min-width: 30px;
  width: 5vw;
  position: absolute;
  height: 3px;
  left: -2px;
  bottom: 7px;
  border-radius: 5px;
}
.header-btn .burger-ico::after {
  top: 7px;
}

.darken-screen {
  background-color: black;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
  position: absolute;
  display: none;
  transition-duration: 500ms;
  z-index: 9;
}

.nav-links {
  background-color: #4e73df;
  width: 40vw;
  position: absolute;
  height: 100vh;
  left: -300px;
  transition-duration: 500ms;
  max-width: 300px;
  z-index: 9;
  padding: 2vw;
}

.account {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.acc-details .welcome {
  color: white;
}
.acc-details .account-name {
  color: white;
}
.acc-details .role {
  color: white;
}

.btn--logout {
  background-color: red;
  border: 1px solid rgb(147, 9, 9);
  color: white;
  width: 25%;
  height: 25px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
}

@media only screen and (min-width: 400px) {
  html {
    font-size: 15px;
  }
  .wrapper {
    height: 60px;
  }
  header .header__left {
    width: 50%;
    gap: 1vw;
  }
  header .header__left h1 {
    font-size: 1.5rem;
  }
  .header__right .account-setting {
    top: 60px;
  }
  .header-btn .burger-ico::before, .header-btn .burger-ico::after {
    bottom: 10px;
  }
  .header-btn .burger-ico::after {
    top: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    height: 80px;
  }
  .header-btn {
    display: none;
  }
  .nav-links {
    left: 0 !important;
  }
  html {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */