@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  margin-right: 20px !important;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(82, 111, 189, 0);
  background-color: rgba(255, 255, 255, 0.468);
}

*::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid rgba(204, 202, 202, 0.69);
  border-radius: 50px !important;
}

body {
  width: 100vw;
  position: relative;
  background-color: whitesmoke;
}

header {
  width: 100%;
  height: 70px;
  padding: 0.5vw 2vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .header__left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2vw;
  justify-content: flex-start;
  width: 100%;
}
header .header__left h1 {
  margin: 0;
  padding: 0;
  color: rgb(80, 78, 78);
  font-size: 1.5rem;
  font-weight: 700;
}
header .header__right {
  display: none;
}
header .header__right:hover {
  cursor: pointer;
}

footer {
  background-color: rgb(232, 232, 114);
  width: 100%;
  height: 50vh;
}

.nav-links {
  background-color: pink;
  width: 70vw;
  position: absolute;
  height: 100vh;
  left: -400px;
  transition-duration: 500ms;
  max-width: 400px;
  z-index: 9;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60px;
  min-width: 40px;
  width: 5vw;
  height: 40px;
  border: unset;
  z-index: 1;
  background-color: transparent;
}
.header-btn .burger-ico {
  background-color: transparent;
  border: 2px solid rgb(80, 78, 78);
  max-width: 40px;
  min-width: 30px;
  width: 5vw;
  position: relative;
  height: 3px;
  border-radius: 5px;
}
.header-btn .burger-ico::before, .header-btn .burger-ico::after {
  content: "";
  border: 2px solid rgb(80, 78, 78);
  max-width: 40px;
  min-width: 30px;
  width: 5vw;
  position: absolute;
  height: 3px;
  left: -2px;
  bottom: 7px;
  border-radius: 5px;
}
.header-btn .burger-ico::after {
  top: 7px;
}

.darken-screen {
  background-color: black;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
  position: absolute;
  display: none;
  transition-duration: 500ms;
}

@media only screen and (min-width: 700px) {
  header .header__left {
    width: 50%;
  }
  header .header__right {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-flow: column;
  }
  .greeting {
    display: flex;
    flex-flow: row nowrap;
    font-weight: 700;
    font-size: 1.2rem;
  }
  .greeting .account {
    color: rgb(0, 115, 255);
  }
  .role {
    color: rgb(88, 86, 86);
    font-size: 1rem;
    position: relative;
    bottom: 5px;
  }
  .header-btn .burger-ico::before, .header-btn .burger-ico::after {
    bottom: 10px;
  }
  .header-btn .burger-ico::after {
    top: 10px;
  }
}/*# sourceMappingURL=main.css.map */