$primary-color: #4e73df;
$btn-color: #0577fa;
$btn-height: max(50px, 6vh);
$fontbase-color:rgb(80, 78, 78);
$fontOnPrimary-color: white;
$gray: rgb(210, 208, 208);
$boxShadowPrimary-color: rgba(73, 73, 73, 0.633);
$boxShadowSecondary-color:rgba(114, 114, 114, 0.472);
$box-shadow: 0 0 10px rgba(148, 146, 146, 0.558);
$box-padding: max(15px, 2vw);
$box-margin-top: max(15px, 1vw);
$box-border-radius: max(5px,0.4vw);
$background-color: rgb(242, 241, 249);
$margin-top-span: max(5px, 1vw);
$edit-btn-color: rgb(246, 177, 48);
$delete-btn-color: rgb(239, 97, 97);
// rgb(225, 233, 241) bg color old val

$primary-color-isched:rgb(7, 62, 157);
$primary-alt: rgb(1, 81, 221);
$secondary-color: #fff;
$sub-color: rgb(247, 235, 0);
$avail-color: rgb(74, 219, 74);
$unavail-color: rgb(255, 0, 0);
