@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "./variables";
@import "./resets";

:root{
    font-size: 15px;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, white, $background-color);
    // background-color: $background-color;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: max(15px, 1vw);
}

.ischedule-header{
    margin-top: max(30px, 5vw);
    display: flex;
    flex-flow: column;
    color: $btn-color;
    font-weight: 200;
    align-items: center;
    text-align: center;
    // letter-spacing: 1px;
    font-weight: 700;
    line-height: 2.2rem;
    user-select: none;
    gap: 1vh;

    span{
        font-size: 8rem !important;
        color: $btn-color;
        font-weight: 100;
    }
}

.login-form{
    z-index: 1;
    border-radius: $box-border-radius;
    padding: $box-padding;
    box-shadow: $box-shadow;
    width: max(300px, 70vw);
    // min-width: 310px;
    max-width: 600px;
    height: fit-content;
    // min-height: 300px;
    background-color: white;
    display: flex;
    flex-flow: column;
    gap: max(10px, 0.5vw);

    .input-container{
        width: 100%;
        height: 70%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: max(15px, 2vh);
    }

    .button-field{
        height: 30%;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: max(5px, 0.2vw);

        .login-btn{
            width: 100%;
            color: white;
            background-color: $btn-color;
            border: unset;
            max-height: $btn-max-height;
            height: $btn-height;
            font-size: 1.2rem;
            font-weight: 500;
            border-radius: max(5px, 0.5vw);
        }

        .login-btn:hover{
            background-color: lighten($color: $btn-color, $amount: 5);
            cursor: pointer;
        }

        .forgot-btn{  
            color: $btn-color;
            background-color: transparent;
            border: unset;
        }

        .forgot-btn:hover{
            color: lighten($color: $btn-color, $amount: 5);
            cursor: pointer;
            background-color: transparent;
        }
    }

    .input-field{
        border: 1px solid $fontbase-color;
        height: min(50px, 10vw);
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        border-radius: max(5px, 0.5vw);
        padding: 2px;
        width: 100%;
        // max-width: 500px;
        position: relative;

        input{
            border: unset;
            border-radius: max(10px, 1vw);
            padding: 0 max(5px, 1vw);
            min-height: 20px;
            font-weight: 500;
            width: 100%;
            font-size: 1.2rem;
        }

        input{
            outline: none;
        }
    
        input:hover{
            border: unset;
        }
    
        input:focus{
            outline: unset;
        }

        label{
            color: $fontbase-color;
            position: absolute;
            background-color: whitesmoke;
            padding: 0 max(3px, 0.2vw);
            background-color: white;
            transition-duration: 200ms;
            left: 2.5%;
            font-size: 1.2rem;
        }

        label:hover{
            cursor: text;
        }

        input:focus~label,
        input:valid~label{
            color: $primary-color;
            font-size: 1rem;
            transform: translate(5%, -120%);
        }

        #seePassword, #seeConfirmPassword{
            margin-right: max(5px, 1vw);
            user-select: none;
            cursor: pointer;
        }
    }
}


.wave-svg{
    display: none;
}

@media only screen and (min-width: 1200px ){
    .wave-svg{
        display: unset;
    }
}
.wave-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-svg svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 235px !important;
}

.wave-svg .shape-fill {
    fill: $btn-color;
    transition-duration: 500ms;
}

.wave-svg .shape-fill:hover{
    opacity: 0.1;
}

// Remove autofill style
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.error-container{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login-msg, .forgot-msg{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: red;
    transition-duration: 500ms;
    position: absolute;
    left: 0;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(2px) }
    50% { transform: translateX(-2px) }
    75% { transform: translateX(2px) }
    100% { transform: translateX(0) }
}   

.error-animate{
    animation: horizontal-shaking 0.35s infinite;
}

.forgot-form{
    z-index: 1;
    border-radius: $box-border-radius;
    padding: $box-padding;
    box-shadow: $box-shadow;
    width: max(300px, 70vw);
    // min-width: 310px;
    max-width: 600px;
    height: fit-content;
    background-color: white;

    .input-container{
        width: 100%;
        height: 70%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: max(15px, 0.3vw);
    }

    .input-field{
        border: 2px solid $fontbase-color;
        height: min(50px, 10vw);
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        border-radius: max(5px, 0.5vw);
        padding: 2px;
        width: 100%;
        // max-width: 500px;
        position: relative;

        input{
            border: unset;
            border-radius: max(10px, 1vw);
            padding: 0 max(5px, 1vw);
            min-height: 20px;
            font-weight: 500;
            width: 100%;
            font-size: 1.2rem;
        }

        input{
            outline: none;
        }
    
        input:hover{
            border: unset;
        }
    
        input:focus{
            outline: unset;
        }

        label{
            color: $fontbase-color;
            position: absolute;
            background-color: whitesmoke;
            padding: 0 max(3px, 0.2vw);
            background-color: white;
            transition-duration: 200ms;
            left: 2.5%;
            font-size: 1.2rem;
        }

        label:hover{
            cursor: text;
        }

        input:focus~label,
        input:valid~label{
            color: $primary-color;
            font-size: 1rem;
            transform: translate(5%, -120%);
        }

        #seePassword, #seeConfirmPassword{
            margin-right: max(5px, 1vw);
            user-select: none;
            cursor: pointer;
        }
    }
    .button-field{
        height: 30%;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: max(5px, 0.2vw);

        .next-btn{
            width: 100%;
            color: white;
            background-color: $btn-color;
            border: unset;
            height: $btn-height;
            max-height: $btn-max-height;
            font-size: 1.2rem;
            font-weight: 500;
            border-radius: max(5px, 0.5vw);
        }

        .next-btn:hover{
            background-color: lighten($color: $btn-color, $amount: 5);
            cursor: pointer;
        }

        .forgot-btn{  
            color: $btn-color;
            background-color: transparent;
            border: unset;
        }

        .forgot-btn:hover{
            color: lighten($color: $btn-color, $amount: 5);
            cursor: pointer;
            background-color: transparent;
        }
    }
}

// .forgot-form:hover{
//     box-shadow: 0 0 5px white;
// }

@media only screen and (max-width: 500px ){
    :root{
        font-size: 10px;
    }

    .login-form, .forgot-form{
        width: 90%;
        min-width: 300px;
    }
}

.ico-pass{
    user-select: none !important;
}

.OTP-container{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    gap: 3vh;
    width: 100%;
    height: 100%;
    align-items: center;
}

.textInfo-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;

    .mainText{
        font-weight: 1000;
        font-size: 1.2rem;
        text-align: center;
    }

    .subText{
        text-align: center;
        font-size: 1rem;
    }

    .phoneDisplay{
        color: $primary-alt;
        font-weight: 500;
    }
}

.OTP-body{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

    .OTP-field{
        display: flex;
        flex-flow: row nowrap;
        width: 90%;
        max-width: 350px;
        height: 50px;
        justify-content: center;
    }
    .error-msg{
        font-size: 1rem;
        color: red;
        transition-duration: 500;
    }
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(2px) }
    50% { transform: translateX(-2px) }
    75% { transform: translateX(2px) }
    100% { transform: translateX(0) }
}   

.error-animate{
    animation: horizontal-shaking 0.35s infinite;
}

.OTP-field{
    input{
        width: 60%;
        border-radius: 10px 0 0 10px;
        border-right: none;
        text-align: center;
        border: 1px solid $fontbase-color;
        border-right: unset;
    }

    input:focus{
        outline: unset;
    }

    button{
        font-size: 1rem;
        width: 120px;
        background-color: $btn-color;
        color: white;
        border: unset;
        border-radius: 0 10px 10px 0;
    }

    button:hover{
        background-color: lighten($btn-color, 5);
    }

    .cd{
        background-color: #878787;
    }

    .cd:hover{
        background-color: #7e7d7d;
    }
}

.OTP-btn{
    background-color: $primary-color;
    color: white;
    border: unset;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    max-width: 400px;
    min-height: 50px;
}

.OTP-btn:hover{
    background-color: darken($primary-color, 5);
}
@media only screen and (min-width: 1000px ){

    // .OTP-container{
    //     padding: 1vw 2vw;
    // }

    .textInfo-container{
        gap: 1vw;

        .mainText{
            font-size: 1.2rem;
        }

        .subText{
            font-size: 1rem;
        }
    }

    .OTP-btn{
        width: 25%;
        height: 55px;
    }
}

h3{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 2vh;
}

.modal-title{
    font-weight: 1000 !important;
    font-size:1.3rem !important;
    color: rgb(10, 204, 10) !important;
}