@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "./variables";
@import "./resets";


html{
    font-size: 12px;
}

body{
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    // overflow-y: auto;
    background-color: whitesmoke;
    position: relative;
}

main{
    flex: 1;
    width: 100%;
    height: 100%;
    
    // overflow-y: auto;
}

.wrapper{
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

header{
    width: 100%;
    background-color: white;
    box-shadow:0px 1px 2px $boxShadowPrimary-color;
    padding: 0 3vw;
    z-index: 9;

    .header__left{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 2vw;
        justify-content: flex-start;
        width: 40%;
    }

    .header__right{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-flow: column;
            position: relative;
    }

    .header__right:hover{
        cursor: pointer;
    }
}

.header__right{
    .greeting{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        font-size: 1rem;

        .welcome{

        }

        .account-name{
            font-weight: 700;
        }
    }
    .role{
        width: 100%;
        color: rgb(88, 86, 86);
        font-size: 0.8rem;
        // position: relative;
        // bottom: 5px;
        text-align: right;
    }

    @keyframes appear {
        0% { height: 0; }
        20%  { height: 20%; }
        40%  { height: 40%; }
        60%  { height: 60%; }
        80%  { height: 80%; }
        100%   { height: 100%; }   
    }

    .account-setting{
        display: none;
        width: 100%;
        height: fit-content;
        background-color: white;
        border-radius: 5px;
        box-shadow: inset 0px 0px 2px rgba(20, 20, 20, 0.589);
        flex-flow: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        position: absolute;
        top: 30px; 
        

        // animation-name: appear;
        // animation-duration: 100ms;
        // animation-iteration-count: 1;
        // animation-timing-function: ease-in-out;

        .account-setting__content{
            background-color: transparent;
            text-decoration: none;
            border: unset;
            color: $fontbase-color;
            font-weight: 700;
            width: 100%;
            height: fit-content;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
            font-size: 1rem;
            padding:clamp(5px, 7%, 20px) clamp(5px, 5%, 15px);
        }

        .account-setting__content:hover{
            background-color: rgb(208, 206, 206);
        }

        .account-setting__btn--logout{
            
        }
    }
}

.header-btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 60px;
    min-width: 40px;
    width: 5vw;
    height:40px;
    border: unset;
    z-index: 1;
    background-color: transparent;

    .burger-ico{
        background-color: transparent;
        border: 2px solid $fontbase-color;
        max-width: 40px;
        min-width: 30px;
        width: 5vw;
        position: relative;
        height: 3px;
        border-radius: 5px;
    }

    .burger-ico::before, .burger-ico::after{
        content: '';
        border: 2px solid $fontbase-color;
        max-width: 40px;
        min-width: 30px;
        width: 5vw;
        position: absolute;
        height: 3px;
        left: -2px;
        bottom: 7px;
        border-radius: 5px;
    }

    .burger-ico::after{
        top: 7px;
    }
}

.darken-screen{
    background-color: black;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    opacity: 0.5;
    position: absolute;
    display: none;
    transition-duration: 500ms;
    z-index: 998;
}
.nav-item-wrapper{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    // gap: max(10px, 2vw);
    // max-height: 1200px;
    height: 90vh;
}

.nav-links{
    background-color: $primary-color;
    width: 50vw;
    position: absolute;
    height: 100%;
    left: -300px;
    transition-duration: 400ms;
    max-width: 300px;
    z-index: 999;
    padding: max(5px, 0.5vw);
    // min-height: 900px;
    // overflow-y: auto;


    .ico-nav, .ico-nav--sub{
        color: $gray;
        font-size: 1.5rem;
    }

    h1{
        width: 100%;
        color: $fontOnPrimary-color;
        font-size: 1.2rem;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        gap: max(5px, 0.5vw);
        text-align: center;
        font-weight: 1000;
    }
    .ico-admin{
        color:$fontOnPrimary-color;
        font-size: 4rem;
    }
}

.nav-links__item{
    height: max(35px, 20%);
    border: unset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $gray;
    font-weight: 200;
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
    gap: max(5px, 0.5vw);
    text-align: left;
    width: 100%;
    user-select: none;
    background-color: transparent;
}

.manage-admins{
    height: max(35px, 20%);
    display: flex;
    flex-flow: column;
    // gap: max(5px, 5vw);
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
    position: relative;

    @keyframes appear {
        0% { transform: translate(-200px,  0px); }
        25%  { transform: translate(-150px, 0px); }
        50%  { transform: translate(-100px, 0px); }
        75%  { transform: translate(-50px, 0px); }
        100%   { transform: translate(0, 0px); }   
    }

    .manage-admins__sub-container{
        position: absolute;
        background-color: $primary-color;
        top: 0;
        left: 105%;
        transition-duration: 1s;
        width: 100%;
        padding: 0 max(10px, 0.5vw);

        animation-name: appear;
        animation-duration: 200ms;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
    }

    .manage-admins__sub{
        margin: 20px 0;
        font-size: 0.8rem;
        // border-bottom: 1px solid rgba(255, 255, 255, 0.27);
    }

    .manage-admins__sub:hover, .manage-admins__sub:hover .ico-nav--sub{
        color: white;
    }
}

.manage-admins__sub:hover .ico-nav--sub{
    cursor: pointer !important;
    color: white;
}

.manage-admins:hover .ico-nav, .manage-admins:hover #btn--manage-admins{
    cursor: pointer !important;
    color: white;
}

// .manage-admins:hover > button.btn-content, .manage-admins:hover > .ico-nav{
//     color: white;
// }

.btn-content{
    min-height: max(35px, 10%);
    height: fit-content;
    display: flex;
    border: unset;
    justify-content: flex-start;
    align-items: center;
    color: $gray;
    font-weight: 200;
    gap: max(5px, 0.5vw);
    text-align: left;
    width: 100%;
    user-select: none;
    background-color: transparent;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.27);
}

button.nav-links__item:hover, button.nav-links__item:hover .ico-nav{
    color: $fontOnPrimary-color;
    cursor: pointer;
}

.nav-links__title{
    width: 100%;
    padding-top: max(10px ,1vw);
    height: fit-content;
    margin-bottom: max(10px, 1vw);
    border-bottom: unset;
    user-select: none;
}

.nav-links__title:hover{
    cursor: unset;
}

.account{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.acc-details{
    .welcome{
        color: white;
    }
    .account-name{
        color: white;
    }
    .role{
        color: white;
    }
}

.btn--logout{
    background-color: red;
    border: 1px solid rgb(147, 9, 9);
    color: white;
    width: 25%;
    height: 25px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
}


@media only screen and (min-width: 400px ){

    html{
        font-size: 15px;
    }

    .wrapper{
        height: 60px;
    }

    header{
        .header__left{
            width: 50%;
            gap: 1vw;

            h1{
                font-size: 1.5rem;
            }
        }
    }

    .header__right{
        .account-setting{
            top: 45px;
        }
    }
        
    .header-btn{  
        .burger-ico::before, .burger-ico::after{
            bottom: 10px;
        }
    
        .burger-ico::after{
            top: 10px;
        }
    }
}

@media only screen and (min-width: 900px ){
    .wrapper{
        height: 80px;
    }

    .header-btn{
        display: none;
    }

    .nav-links{
        left: 0 !important;
    }

    html{
        font-size: 20px;
    }

    .header__right{
        .account-setting{
            top: 60px;
        }
    }

    .darken-screen{
        display: none !important;
    }

    main{
        padding-left: 300px;
    }
}

// GOOGLE SVG 
.ico-acc{
    color:$fontbase-color;
}

// 
// Add Admin
// 

.add-admin{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.form-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.form{
    background-color: white;
    width: max(300px, 40%);
    height: fit-content;
    border-radius: max(7px, 1vw);
    margin: max(10px, 1.5vw) 0;
    padding: max(10px, 1vw) max(20px, 5vw);
    overflow: hidden;
    border-bottom: min(10px,5vw) solid lighten($primary-color, 10);

    // display: flex;
    // flex-flow: column;
    // justify-content: flex-start;
    // align-items: center;
    // align-content: flex-start;
    // gap: max(20px, 2vw);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%,1fr));
    gap: max(15px, 1.5vw);
    justify-items: center;
    position: relative;
    transition-duration: 500ms;
    

    input{
        outline: none;
    }

    input:hover{
        border: unset;
    }

    input:focus{
        outline: unset;
    }

    h2{
        display: flex;
        align-items: center;
        flex-flow: column;
        gap: max(5px, 0.5vw);
        font-size: 1.3rem;
        color: $primary-color;
        font-weight: 700;
        user-select: none;
    }

    .ico-nav{    
        font-size: 3rem;
        border-radius: 100px;
        padding: max(15px, 1.2vw);
        user-select: none;
        transition-duration: 500ms;
        z-index: 1;
        
        background-color: $primary-color;
        color: white;
        border: 5px solid white;
    }
}

.custom-shape-divider-top-1689432371 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1689432371 svg {
    position: relative;
    display: block;
    width: calc(133% + 1.3px);
    height: 100px !important;
}

.custom-shape-divider-top-1689432371 .shape-fill {
    fill: $primary-color;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1689432371 svg {
        width: calc(140% + 1.3px);
        height: 201px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1689432371 svg {
        width: calc(142% + 1.3px);
        height: 85px;
    }
}

// .group-container{
//     // display: flex;
//     // flex-flow: row wrap;
//     // gap: max(5px, 1vw);
//     display: grid;
//     width: 100%;
//     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//     justify-content: center;
//     gap: max(20px, 2vw);
// }

.input-container{
    border: 2px solid $fontbase-color;
    height: min(50px, 10vw);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: max(5px, 0.5vw);
    padding: 2px;
    width: 100%;
    max-width: 500px;
    // position: relative;

    input{
        border: unset;
        border-radius: max(10px, 1vw);
        padding: 0 max(5px, 1vw);
        min-height: 20px;
        font-weight: 500;
        width: 100%
    }

    input:focus~label,
    input:valid~label{
        color: $primary-color;
        font-size: 0.9rem;
        transform: translate(5%, -110%);
    }

    label{
        color: $fontbase-color;
        position: absolute;
        background-color: whitesmoke;
        padding: 0 max(3px, 0.2vw);
        background-color: white;
        transition-duration: 200ms;
        font-size: 0.8rem;
    }

    label:hover{
        cursor: text;
    }

    .ico-pass{
        margin-right: 1%;
        font-size: 1rem;
        color: $fontbase-color;
    }

    .ico-pass:hover{
        cursor: pointer;
    }
}


.btn--addAdmin{
    background-color: $primary-color;
    color: white;
    border: unset;
    padding: max(10px, 0.5vw);
    border-radius: max(10px, 0.5vw);
    width: 100%;
    height: 50px;
}

.btn--addAdmin:hover{
    background-color: lighten($primary-color, 5);
}

.radio-container{
    // width: 200px;
    width: 120%;
    flex: 1 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: max(15px, 1vw);
    font-size: 0.9rem;

    .radiobtn-container{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: max(3px, 0.3vw);

        label{
            color: $primary-color;
            font-weight: 700;
        }
    }
}

@media only screen and (min-width: 450px ){
    .form{
        width: 90%;
    }
}

@media only screen and (min-width:1200px){
    .form{
        width: max(300px, 40%);
        box-shadow: 10px 10px rgba(114, 114, 114, 0.472);
    }

    .form:hover{
        transform: translate(-5px,-10px);
        box-shadow: 20px 20px rgba(114, 114, 114, 0.472);
    }

    .form:hover .ico-nav{
        background-color: white;
        color: $primary-color;
        border: 5px solid $primary-color;
        transform: rotate(360deg);
        cursor: pointer;
    }

    .btn--addAdmin{
        width: 40%;
    }
}

// REMOVE AUTOFILL STYLE
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

// 
// ADMIN LOGS
// 

.admin-logs{
    display: flex;
    width: 100%;
    height: 90vh;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: max(10px, 2vw);
    gap: max(5px, 1vw);
    
    .admin-logs__body{
        width: 100%;
        // background-color: white;
        border-radius: max(7px, 1vw);
        // box-shadow: 0 0 5px $boxShadowPrimary-color;
    }
}

.admin-logs__filters{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: max(5px, 1vw);

    input[type="date"]{
        position: relative;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        width: 100%;
        opacity: 0;
    }

    button{
        background-color: $primary-color;
        border: unset;
        color: white;
        border-radius: max(4px, 0.5vw);
        padding:max(5px, 0.4vw);
        
        width: max(50px, 10%);
    }

    button:hover{
        background-color: lighten($primary-color, 5);
    }
}

.table-container{
    width:100%;
    height: fit-content;
    max-height: 80%;
    overflow:auto;
    border: 2px solid $fontbase-color;
    border-radius: max(7px, 1vw);
}

.logs-table{
    width: 100%;
}

.logs-table tr:nth-child(even){
    background-color: rgb(221, 219, 219);
}

thead tr th{
    background-color: $primary-color;
    color: white;
}

// col{
//     min-width: 20%;
//     max-width: 40px;
// }

tr{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

th{
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 max(2px,0.4vw);
    min-width: 150px;
}

td{
    flex: 2;
    // display: flex;
    padding: 0 max(2px,0.4vw);

    // max-width: 200px;
    text-align: left;

    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid rgba(95, 94, 94, 0.351);
}

td:nth-child(4), th:nth-child(4){
    flex: 1;
    // min-width: 70px;
}




.first{
    color: red;
}

.test{
    width: 100px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}